[[${node.name}]]

id: [[${node.id}]]
mime: [[${node.mime}]]
filename: [[${node.filename}]]
created_time: [[${node.createdTime}]]
updated_time: [[${node.updatedTime}]]
user_created_time: [[${node.userCreatedTime}]]
user_updated_time: [[${node.userUpdatedTime}]]
file_extension: [[${node.fileExtension}]]
encryption_cipher_text: [[${node.encryptionCipherText}]]
encryption_applied: [[${node.encryptionApplied}]]
encryption_blob_encrypted: [[${node.encryptionApplied}]]
size: [[${node.size}]]
is_shared: [[${node.isShared}]]
share_id: [[${node.shareId}]]
master_key_id: [[${node.masterKeyId}]]
type_: [[${node.type_}]]