[[${node.name}]]

[[${node.content}]]



id: [[${node.id}]]
parent_id: [[${node.parentId}]]
created_time: [[${node.createdTime}]]
updated_time: [[${node.updatedTime}]]
is_conflict: [[${node.isConflict}]]
latitude: [[${node.latitude}]]
longitude: [[${node.longitude}]]
altitude: [[${node.altitude}]]
author: [[${node.author}]]
source_url: [[${node.sourceUrl}]]
is_todo: [[${node.isTodo}]]
todo_due: [[${node.todoDue}]]
todo_completed: [[${node.todoCompleted}]]
source: [[${node.source}]]
source_application: [[${node.sourceApplication}]]
application_data: [[${node.applicationData}]]
order: [[${node.order}]]
user_created_time: [[${node.userCreatedTime}]]
user_updated_time: [[${node.userUpdatedTime}]]
encryption_cipher_text: [[${node.encryptionCipherText}]]
encryption_applied: [[${node.encryptionApplied}]]
markup_language: [[${node.markupLanguage}]]
is_shared: [[${node.isShared}]]
share_id: [[${node.shareId}]]
conflict_original_id: [[${node.conflictOriginalId}]]
master_key_id: [[${node.masterKeyId}]]
type_: [[${node.type_}]]